.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

html {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.qrCode_card {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  margin-top: 110px;
  text-align: center;
}

.qrCode-img {
  width: 100%;
  border-radius: 10px;
}

.heading {
  font-weight: 700;
  font-size: 1.45rem;
}

.message {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
}
