.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Outfit", sans-serif;
}

.main-container {
  margin-top: 120px;
  margin-left: 250px;
  margin-bottom: 80px;
  /* border: 1px solid black; */
  padding: 20px;
  background-color: hsl(212, 45%, 89%);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  width: 1000px;
}

.qrCode_card {
  width: 250px;
  /* border: 1px solid black; */
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.qrCode-img {
  width: 100%;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.heading,
.message {
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 18px;
  color: hsl(218, 44%, 22%);
}

.message {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}
